.pageprincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0 git px;
    margin-bottom: 20px;
   
}
.pagination{
    display: flex;
    position:fixed;
    justify-content:center;
    align-items: center;
    column-gap: 10px;
    width: 100vw;
    height: 80px;
    
    background-color: yellow;
}
h1{
    
    position:absolute;
    left:20px;
    
}
.container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 30px;
   
    gap: 15px;
    font-size: 16px;
    margin-top: 10px;
  
}




.cardfilm{
    display:flex;
    border:2px solid black;
    width: 40%;
    height:20vw;
    justify-content:space-between ;
    column-gap: 10px;
    box-shadow: -5px 5px gray;
    cursor: pointer;
    overflow: hidden;
    
    
    
    
}

.poster_path{
    width: 30%;
    height: auto;
    
    
}
.poster_path img,.on img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description{
    display: flex;
    flex-direction: column;
    width:70%;



    
    row-gap: 5px;
}
.original_title{
    font-weight: bold;
}
.overview{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width:1024px) {

    .container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        
        margin-top: 50px;
        font-size: 0.57rem;
       
        gap: 15px;
      
    }
    .cardfilm{
        display:flex;
        border:2px solid black;
        width: 90%;
        height:40vw;
        justify-content:space-between ;
        column-gap: 10px;
        box-shadow: -5px 5px gray;
        
        
        
        
    }
    
}
.on{
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    row-gap: 50px;
    width:100vw;
    height: 100vh;
    position:fixed;
    
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 30px;
    
   

}

.off{
    display:none;
}
.titre{
    display: block;
   

    color: white;
}
.on img{
    width: 100%;
    height:100%;
    object-fit:cover;
    object-position: 30% 50%;
}
.close{
    position: absolute;
    top: 5px;
    right: 10px;
    color:white;
}
.close:hover{
    cursor:default;
    
}
button{
    font-size: 1.5rem;
   /* border-radius: 5px;*/
   border: none;
   background-color:yellow;
   cursor:pointer;
   color: gray;

}
button:hover{
    color: white;
}
span{
    font-size: 1.5rem;
    font-weight: bold;
}
.selected{
    border-bottom: 3px solid orangered;
}
.notselected{
    border-bottom: 3px solid gray;
}

.tel{
    display: inline-block;
    background-color: orangered;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 3rem;
    padding:5px auto;
    text-align: center;
    animation:move 1s infinite;
}
@keyframes move {
    100%{
        transform: scale(1.20);
    }
    
}
.pagenumber{
    margin-top: 80px;
}
.pagenumber button{
    background-color:white;
}
.pagenumber button:hover{
    color: orangered;
}
